@{
}
@model List<Template_1m.Models.Entities.DC>

@{
    ViewData["Title"] = "DLCs for Game";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Add" asp-route-gameId="@ViewBag.GameId" class="btn btn-primary">Add New DLC</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Free</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dc in Model)
        {
            <tr>
                <td>@dc.Name</td>
                <td>@dc.IsFree</td>
                <td>
                    <a class="btn btn-primary" asp-controller="DC" asp-action="Edit" asp-route-id="@dc.Id">Edit</a>
                    <form method="post" asp-controller="DC" asp-action="Delete" asp-route-id="@dc.Id" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
