@model List<Cars.Models.Entities.Car>
@using Microsoft.AspNetCore.Mvc.Rendering;

<h1>Cars</h1>

<a class="btn btn-primary" asp-controller="Cars" asp-action="Add">Add</a>

<form method="get" asp-controller="Cars" asp-action="List">
    <div class="form-group">
        <label for="modelFilter">Filter by Model:</label>
        <select id="modelFilter" name="selectedModel" class="form-control" onchange="this.form.submit()">
            <option value="">None</option>
            @foreach (var carModel in ViewBag.Models)
            {
                <option value="@carModel" selected="@(carModel == ViewBag.SelectedModel)"> @carModel </option>
            }
        </select>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.PreviouslyFilteredBy))
    {
        <p>Previously filtered by: @ViewBag.PreviouslyFilteredBy</p>
    }
    <div class="form-group">
        <label for="ageFilter">Filter by Age:</label>
        <input type="text" id="ageFilter" name="selectedAge" class="form-control" onchange="this.form.submit()">
    </div>
</form>




<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Engine Power</th>
            <th>Fuel</th>
            <th>Price</th>
            <th>Color</th>
            <th>Age</th>
            <th>History</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.EnginePower</td>
                <td>@car.Fuel</td>
                <td>@car.Price</td>
                <td>@car.Color</td>
                <td>@car.Age</td>
                <td>@car.History</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <form method="post" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this car?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
